[submodule "dependencies/union-api"]
	path = dependencies/union-api
	url = https://gitlab.com/union-framework/union-api.git
[submodule ".\\dependencies\\union-api"]
	url = https://gitlab.com/union-framework/union-api.git
