site_name: zBassMusic
copyright: Copyright &copy; 2024 Silver Ore Team
repo_url: https://github.com/Silver-Ore-Team/zBassMusic
nav:
  - Home: index.md
  - Roadmap: roadmap/index.md
  - User Guide:
      - user-guide/index.md
      - Getting Started:
          - user-guide/getting-started/index.md
          - user-guide/getting-started/plugin-loading.md
          - user-guide/getting-started/music-definition.md
          - user-guide/getting-started/cross-fading.md
      - Concepts:
          - user-guide/concepts/index.md
      - Themes:
          - user-guide/theme-definition/index.md
          - user-guide/theme-definition/cmusictheme.md
          - user-guide/theme-definition/basstheme.md
      - Transitions:
          - user-guide/transitions/index.md
          - user-guide/transitions/timing.md
          - user-guide/transitions/jingle.md
          - user-guide/transitions/midi.md
      - Scripting (Daedalus):
          - user-guide/scripting/index.md
          - user-guide/scripting/custom-scheduler.md
      - Debugging:
          - user-guide/debugging/index.md
  - Reference:
      - reference/index.md
      - Classes:
          - reference/classes/C_MUSICTHEME.md
          - reference/classes/C_BassMusic_Theme.md
          - reference/classes/C_BassMusic_ThemeAudio.md
      - Globals:
          - reference/globals/index.md
      - Externals:
          - reference/externals/index.md
      - Options (.ini):
          - reference/options/index.md
  - Developer Guide:
      - developer-guide/index.md
      - Architecture:
          - developer-guide/architecture/index.md
      - Style Guide:
          - developer-guide/style-guide/index.md
      - Contributing:
          - developer-guide/contributing/index.md
      - Release:
          - developer-guide/release/index.md
theme:
  name: material
  logo: images/logo.svg
  favicon: images/favicon.ico
  palette:
    scheme: slate
    primary: custom
  highlightjs: true
  hljs_languages:
    - yaml
    - ini
    - cpp
    - daedalus
    - json
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.indexes
    # - toc.integrate 
    - navigation.top
  icon:
    annotation: material/record-circle
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.smartsymbols
  - pymdownx.superfences:
plugins:
  - search
  - offline:
      enabled: !ENV [ OFFLINE, false ]
  - plantuml:
      puml_url: https://www.plantuml.com/plantuml/
      format: png
      num_workers: 8
      puml_keyword: puml
      verify_ssl: true
extra_css:
  - stylesheets/extra.css
extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Silver-Ore-Team/zBassMusic
    - icon: fontawesome/brands/discord
      link: https://discord.gg/cvd6jhKB
  analytics:
    provider: google
    property: G-GPGQ5YCRVB
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js