/* #a00*/
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #830404;
    --md-typeset-a-color: rgb(255, 143, 143);
}

.md-content {
    max-width: 160ch;
}

.grid.cards {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    grid-gap: 0.8rem;
}

.grid.cards > ul > li > p > span + strong {
    margin-left: 10px;
    vertical-align: -2px;
    font-size: 0.9rem;
}

.footnote {
    margin-top: 2rem;
}

.zbassmusic-contributos {
    margin-top: 1rem;
}